
<div class="search-div mb-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search Vendor" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><span class="fa fa-fw fa-search"></span></button>
        </div>
      </div>
      <div class="text-right">
        <a href="#">Advanced Search</a>
      </div>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead class="">
    <tr>
      <th scope="col">Vendor ID</th>
      <th scope="col"></th>
      <th scope="col">Vendor Name</th>
      <th scope="col">Vendor Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip</th>
      <th scope="col">Phone</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" [routerLink]="['','vendor',item.vendorID,'summary']" style="cursor: pointer;">
      <th scope="row">{{item.vendorID}}</th>
      <td>
        <span *ngIf="item.platinum" class="fa-stack text-success" style="font-size:0.5em;">
          <i class="fa fa-sun-o fa-stack-2x"></i>
          <i class="fa fa-check fa-stack-1x"></i>
        </span>
      </td>
      <td>
        {{item.name}}
      </td>
      <td>{{item.address}}</td>
      <td>{{item.city}}</td>
      <td>{{item.state}}</td>
      <td>{{item.zip}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.contact}}</td>
    </tr>

  </tbody>
</table>
