<nav class="navbar navbar-expand-lg navbar-light" style="padding: 0px; padding-bottom: 3px">
  <div class="container">
    <!-- <a class="navbar-brand" href="#" [routerLink] = "['']">PAR <small>Compliance</small></a> -->
    <a class="navbar-brand" href="#" [routerLink] = "['']">
      <img src="assets/img/logo-landing.png" alt="" height="70px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" [routerLink] = "['']"><span class="link-text-actual">Home</span><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink] = "['Employees']"><span class="link-text-actual">PAR-Employees</span><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink] = "['vendor']"><span class="link-text-actual">Agents</span><span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
      <div class="my-2 my-md-0 navbar-text-right">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [routerLink] = "['','search']"><span class="fa fa-fw fa-search"></span></a>
          </li>
          <li class="nav-item">
            <a [routerLink] = "['','search']"><span class="fa fa-fw fa-bell-o"></span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hi User!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"><span class="fa fa-fw fa-user"></span> Profile</a>
              <a class="dropdown-item" href="#"><span class="fa fa-fw fa-cog"></span> Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><span class="fa fa-fw fa-logout"></span> Log-Out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nav>
<div class="border-div">

</div>
