@import "../../_variables.less";
.navbar{
    padding: 1rem 1.2rem;
    background-color: #fff;
    .link-text-actual{
      padding-bottom: 2px;
      &:extend(.active);
    }
    .active {
      border-bottom: 2px solid @outline-brand;
    }
    .navbar-text-right{
      a{
        color: #333;
        padding: 0px 10px;
      }
    }
}
.card{
  .card-header-custom{
    margin: 1.25rem;
  }
}
.border-div{
  height: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#240772+85,d21fe2+100&1+0,0.62+100 */
  background: -moz-linear-gradient(left, rgba(36,7,114,1) 0%, rgba(36,7,114,0.68) 85%, rgba(210,31,226,0.62) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(36,7,114,1) 0%,rgba(36,7,114,0.68) 85%,rgba(210,31,226,0.62) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(36,7,114,1) 0%,rgba(36,7,114,0.68) 85%,rgba(210,31,226,0.62) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#240772', endColorstr='#9ed21fe2',GradientType=1 ); /* IE6-9 */
  border-radius: 0px;
}
