<app-topbar></app-topbar>
<div class="container main-wrapper">
  <!-- <app-steps-tracker *ngIf="router.url.includes('/vendor/')"></app-steps-tracker> -->
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
