@import "../../../_variables.less";

.subhead{
  margin-bottom: 30px;
  span {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(204,204,204,0.8);
  };
}
.cta{
  .cta-div{
    padding: 2rem;
    &:first-child{
      border-bottom: 2px solid rgba(0,0,0,0.3);
    }
  }
}

.section-heading{
  p{
    color: @brand-text;
    font-weight:500; font-size: 25px;
  }
}
.graphs-row{
  .legend{
    position: absolute;
    bottom: 0;
  }
}
.section-vendors{
  .vendor-search.search-wrapper{
    input{
      border-right: 1px solid transparent;
    }
    .input-group-append{
      .small{
        font-size: 0.7em;
      }
      .input-group-text{
        background-color: #fff;
        border-left: 1px solid transparent;
      }
    }
  }
  .vendor-card{
    &-body{
      .compliance-details{
        font-size: 0.7em;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      .compliance-badge{
        font-size: 0.7em;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      .vendor-name{
        padding-bottom: 5px;
        border-width: 0 0 2px 0;
        border-style: solid;
        border-color: purple;
        a{
          color: @brand-text;
          text-decoration: none;
        }
      }
      .show-more{opacity: 0}
      &:hover .show-more { opacity: 1}
      .vendor-hidden-content{
        .expired-header{
          font-weight: 500; border-left: 2px solid red; padding-left: 5px;
        }
        .missing-header{
          font-weight: 500; border-left: 2px solid orange; padding-left: 5px;
        }
      }
    }
  }
}
  .stat-progress-bars{
    .progress{
      height: 3px;
      .progress-bar{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#240772+85,d21fe2+100&1+0,0.62+100 */
        background: -moz-linear-gradient(left, rgba(36,7,114,1) 0%, rgba(36,7,114,0.68) 85%, rgba(210,31,226,0.62) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(36,7,114,1) 0%,rgba(36,7,114,0.68) 85%,rgba(210,31,226,0.62) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(36,7,114,1) 0%,rgba(36,7,114,0.68) 85%,rgba(210,31,226,0.62) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#240772', endColorstr='#9ed21fe2',GradientType=1 ); /* IE6-9 */
      }
    }
  }

.section-expiring-docs{
  .filetype{
    line-height: 13px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 0.8em;
    .fa{
      padding-left: 2px;
    }
    strong{
      font-size: 10px;
    }
  }
}
