/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.content p{
	font: 400 13px/22px Verdana, Geneva, sans-serif;
}
h1.landing_heading
{
	font: 400 22px Verdana, Geneva, sans-serif;
}

h1.landing_heading2
{
	font: 400 16px Verdana, Geneva, sans-serif;
	border-bottom: 1px solid #5c5c5c;
	padding-bottom: 8px;
	margin-bottom: 15px;
}

.content h3{
	font: bold 12px Verdana, Geneva, sans-serif;
}

.content ul li{
	font: 400 12px Verdana, Geneva, sans-serif;
	list-style-type: disc;
	padding-top: 5px;
	margin-left: 15px;
}
.iconSet{
	font-size:18px;
}
.navbar-nav>li>a
{
	color: #000 !important;
	font: 400 12px Verdana, Geneva, sans-serif;
}
.nav-item a
{
	background-color: #f4f4f4;
	margin-right: 10px;
	color: #000 !important;
}

.navbar-nav>li>a:hover
{
	background: none;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
{
	background: #e7e7e7;
}
.nav-tabs.active
{
	background-color: #e7e7e7;
}

.banner_logos
{
	background-color: #cccccc;
	float: left;
	width: 100%;
	margin-top: 25px;
}

.banner_logos ul li a
{
	float: left;
}



.collapseExample
{
	position: absolute
}

.dropdown-menu
{
	min-width: 360px;
	margin-left: -250px;
}
#login-submit
{
	background-color: #240772;
}

.banner_logos
{
	padding-left: 140px;
}

.banner_logos img
{
	height: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu_landingpage
{
	background-color: #240772; 
	height: 50px
}

.menu_landingpage li
{
	background: none !important
}

.menu_landingpage li a
{
	color: #fff !important;
}

.menu_landingpage .open>a,.menu_landingpage .open>a:focus,.menu_landingpage .open>a:hover
{
	background: none !important;
}

@media screen and (max-width:767px)
{
.loginbox
{
	z-index: 1;
	position: relative !important;
	background-color: #fff !important;
	z-index: 1 !important;
	margin-left: 0px;
	height: 200px;
}
}

.loginbox
{
	width: 400px;
	margin-left: -310px !important;
	margin-top: 10px;
}
.header
{
	background-color: #240772;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}


.searchWidget input
{
	background-color: #e4e4e4;
	width: 370px;
	height: 35px;
	border: none;
	padding-left: 10px;
}

nav ul li
{
	font: 400 12px Verdana, Geneva, sans-serif;
	color: #fff;
	float: left;
	padding-right: 15px;
	color: #fff;
}

nav ul li a
{
	color: #fff;
}
nav ul li a:hover
{
	color: #fff;
	text-decoration: none
}
li.user
{
	background: url("../images/icon_profile.png") no-repeat;
	padding-left: 20px;
}

li.user a{
	background: url("../images/arrow_down.png") no-repeat right;
	padding-right: 20px;
}

.widget
{
	border: 1px solid #e7e7e7;
}
.widget_header
{
	background-color: #e7e7e7;
	height: 30px;
	padding: 10px 0px 10px 15px;
	font: 400 12px Verdana, Geneva, sans-serif;
}

.widget_body
{
	background-color: #fff;
}

.widget_body table tr td
{
	font: 400 11px Verdana, Geneva, sans-serif;
}

.widget_body table tr th
{
	font: bold 11px Verdana, Geneva, sans-serif;
	border: none
}







.dropdown-content {
    display: none;
    background-color: #f1f1f1;
	width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	float: right;
	position: absolute;
	right: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.rounded1,.rounded2
{
	background-color: #240772;
	width: 15px;
	height: 15px;
	float: left;
}
.rounded2
{
	background-color: #00972f;
}

.sb_progress
{
	margin-top: 10px; 
}

.dataTables_length,.dataTables_filter,.dataTables_info,.dataTables_paginate
{
	display: none
}


.footer p
{
	font: 400 12px Verdana, Geneva, sans-serif;
}

.number
{
	color: #ff4e00;
	font: bold 25px Verdana, Geneva, sans-serif;
}
.employees,.locations
{
	font: 400 12px Verdana, Geneva, sans-serif;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.agent_details .nav-item a
{
	background: none;
}

.agent_details .nav-item active
{
	background-color: #fff;
	border-top: 1px solid #ccc;
}

.breadcrumb
{
	background: none
}

.no-pdding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.sb_progress
{
	
}

.sb_label
{
	font-size: 12px;
}

.barChart
{
	background: url("../images/graph_bg.png") no-repeat;
	height: 350px;
	padding-left: 5px;
	right: 10px;
	position: relative;
	width: 510px;
}

#piechart
{
	background: none;
	font-size: 10px !important;
}

.widget_header
{
	font-weight: bold;
}

.facet_divider
{
border-left:1px solid black;
}